<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Add a favicon -->
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Personal css -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" media="screen">

    <title>Mars Data Scrape Kit</title>
  </head>

  <body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top border-bottom shadow p-3 mb-5">
      <div class="container">

        <!-- Logo & Brand -->
        <a class="navbar-brand" href="/">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-map" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98l4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"/>
          </svg>
          <strong>Mars Fact</strong>
        </a>

      </div>
    </nav>

    <main class="body" role="main">

      <!-- Main Content -->
      <div class="container">

        <!-- Header for scraping button -->
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="jumbotron bg-image shadow">
              <h1>Mission to Mars</h1>
              <hr>
              <center><a class="btn btn-danger mb-2" href="scrape" role="button">Land on Mars Now &raquo;</a></center>
              <h4 class="header-light">Click button to start web-scraping for Mars News and Information.</h4>
            </div>
          </div>
        </div>

        <!-- Notify user db has no record  -->
        {% if mars_data == None %}
        <div class="row">
          <div class="col-xs-12 col-md-12 pt-md-5 box-formatting">
            <h4>Mars DB has no record. Please scrape first.</h4>
          </div>

        </div>

        <!-- If db has record, render page -->
        {% else %}
        <!-- Latest Mars News -->
        <div class="row">
          <div class="col-xs-12 col-md-12 pt-md-5 box-formatting">
            <h2>Latest Mars News</h2>
            <hr>
            <h5>{{mars_data.news_title}}</h5>
            <p>{{mars_data.news_p}}</p>
          </div>

        </div>

        <hr>

        <!-- Featured Image & Fact Table -->
        <div class="row">
          <div class="col-xs-12 col-md-8">
            <h2>Featured Mars Image</h2>
            <hr>
            <img src="{{mars_data.featured_img}}" class="vis-img">
          </div>

          <div class="col-xs-12 col-md-4">
            <h2>Mars Facts</h2>
            <hr>
            {{mars_data.mars_fact|safe}}
          </div>
        </div>
        
        <!-- Hemispheres Images -->
        <hr>
        <h2>Mars Hemispheres</h2>
        <hr>
        
        <div class="row">
          
          <!-- Using For Loop to Place Elements -->
          {% for hemisphere in mars_data.hemisphere_img %}
          <div class="col-sm-12 col-md-6">
            <figure class="vis-img-border">
              <img src="{{hemisphere.img_url}}" class="img-thumbnail">
              <figcaption><h4>{{hemisphere.title}}</h4></figcaption>
            </figure>
          </div>
          {% endfor %}

        </div>

        <!-- Enf of Jinja2 if statement -->
        {% endif %}

      </div>
      <hr>

    </main>

    <footer class="container">
      <p>&copy; Kelvin Deng @ UoT Data Analytics</p>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>